body {
  font-family: Verdana, Tahoma, 'san-serif';
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.row {
  width: 100%;
}

h1 {
  font-size: 175%;
  text-align: center;
}

p {
  border: 1px solid #232323;
  background-color: #aeaeae;
  margin: 10px;
  position: relative;
  padding-top: 45px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

span {
  font-size: 125%;
  display: block;
  border: 1px solid #000;
  color: #000;
  width: 100px;
  padding: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  font-weight: bold;
}

#chicken {
  background-color: #12eed1;
}

#beef {
  background-color: #14dedf;
  color: #fff;
}

#sushi {
  background-color: #f2edee;
}

/* DESKTOP */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-xs-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}