body {
  font-family: Verdana, Helvetica, Tahoma, sans-serif;
  font-size: 18px;
}


nav.navbar-default {
  border-bottom: 1px solid #000;
  background-color: #cdd3d1;
}


header nav h1 {
  margin-top: -8px;
  padding: 3px;
  font-weight: bold;
  color: #000;
}


#main-content {
  background-color: #cdd3d1;
  padding: 20px;
  text-align: justify;
}

div span {
  font-weight: bold;
  display: block;
  width: 60px;
  margin: 0 auto;
  text-align: center;
}

/* Extra small (xs) devices only */
@media (max-width: 767px) {
  #collapsable-nav ul li a {
    background-color: #fff;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #000;
  }
}
